*/js/*.js
*/css/*.png
*/css/*.jpg
*/css/*.svg
*/css/*.css

*/css/*/*.png
*/css/*/*.jpg
*/css/*/*.svg
*/css/*/*.css
*/index.html

*.swp

*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.toc
Borrador.tex
Lista.tex
Borrador.pdf
Lista.pdf
